* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .game-container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    max-height: 80vh;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .attempt-row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .attempt-row.active {
    
    transform: scale(1.10); /* Slightly enlarge the active row */
    z-index: 1;
    background-color: #e0f7fa;
  }
  
  .attempt-row .input-box {
    margin: 5px;
    flex: 1 0 20%;
    min-width: 30px;
    max-width: 60px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2;
    line-height: 40px;
  }
  
  .attempt-row .input-box.bg-green-500 {
    background-color: #4CAF50 !important;
  }
  
  .attempt-row .input-box.bg-red-500 {
    background-color: #f44336 !important;
  }
  
  #options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  #options-container button {
    margin: 5px;
    flex: 1 1 60px;
    min-width: 60px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
  }
  
  #go-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  #reset-btn {
    background-color: #f44336;
    color: white;
  }
  
  #chances-remaining {
    font-weight: bold;
  }
  
  #message {
    font-weight: bold;
    font-size: 1.2em;
  }


  .bg-green-500 {
    background-color: #4CAF50;
}
  .bg-red-500 {
    background-color: #f44336; /* Adjust as needed */
}
  .text-white {
    color: white;
}
.input-box.bg-green-500 {
  background-color: #4CAF50 !important; /* Use !important if necessary */
}
.input-box.bg-red-500 {
  background-color: #f44336 !important; /* Use !important if necessary */
}

#share-btn {
    margin-top: 1rem;
    transition: all 0.3s ease;
}

#share-btn.bg-blue-500:hover {
    background-color: #3b82f6;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .game-container {
        max-width: 90%;
    }

    .attempt-row .input-box {
        flex: 1 0 25%;
    }

    #options-container button {
        flex: 1 1 45%;
    }
}