@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --my-brand-font: 'Albert Sans', sans-serif;
    --my-headline-font: 'Montserrat', sans-serif;
    --my-title-font: 'Montserrat', sans-serif;
    --my-plain-font: system-ui;

    --md-ref-typeface-brand: var(--my-brand-font);
    --md-ref-typeface-plain: var(--my-plain-font);
    --md-sys-color-primary: #006A6A;
    --md-sys-color-on-primary: #FFFFFF;
    --md-sys-color-outline: #6F7979;
}

* {
    box-sizing: border-box;
    font-family: var(--md-ref-typeface-brand);
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    padding: 20px;
    flex-wrap: wrap;
}

.game-container {
    text-align: center;
    width: 100%;
    max-width: 300px;
    max-height: 80vh;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.custom-line {
    border: 0;
    height: 2px;
    background: #ccc; /* Light gray color */
    margin: 10px 0; /* Adds spacing above and below */
}
.main-line {
    border: 0;
    height: 2px;
    background: #010101; /* Light gray color */
    margin: 10px 0; /* Adds spacing above and below */
}


.attempt-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px; /* Adds space between elements */

    
}

.attempt-row.active {
    transform: scale(1.10);
    z-index: 1;
    background-color: #e0f7fa;
}

.attempt-row .input-box {
    margin: 5px;
    flex: 1 0 20%;
    min-width: 30px;
    max-width: 60px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2;
    line-height: 40px;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

#function-bottons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    /* padding: 0px; */
}

.separator-line {
    height: 1px;
    background-color: #ccc; /* Line color */
    margin: 10px 0; /* Space around the line */
}


.elevated-button {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.elevated-button:hover {
    background: #005757;
}

.outlined-button {
    background: transparent;
    border: 1px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-primary);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
}

.outlined-button:hover {
    background: var(--md-sys-color-outline);
    color: var(--md-sys-color-on-primary);
}

.text-button {
    background: transparent;
    border: none;
    color: var(--md-sys-color-primary);
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
    font-weight: bold;
}

.text-button:hover {
    color: #004545;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .game-container {
        max-width: 90%;
    }

    .attempt-row .input-box {
        flex: 1 0 25%;
    }

    #options-container button {
        flex: 1 1 45%;
    }
}
